<!DOCTYPE html>
<html lang="zh-cmn-Hans" class="ua-windows ua-webkit">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="renderer" content="webkit">
		<meta name="referrer" content="always">
		<title> 豆小荐 </title>
		<link href="css/myCSS.css" rel="stylesheet" type="text/css">
		<link href="css/douban.css" rel="stylesheet" type="text/css">
		<link href="css/_all.css" rel="stylesheet" type="text/css">
		<link href="css/init.css" rel="stylesheet">
		<script type="text/javascript">
			var _head_start = new Date();
		</script>
		<script type="text/javascript" src="js/jquery.js"></script>
		<script type="text/javascript" src="js/douban.js"></script>
		<script type="text/javascript" src="js/_all.js"></script>
		<link rel="stylesheet" href="css/home.css" />
		<script type="text/javascript" src="js/jquery.js"></script>
		<style type="text/css"></style>
		<style type="text/css">
			img {
				max-width: 100%;
			}
		</style>
		<script type="text/javascript"></script>
		<link rel="stylesheet" href="css/unknown.css">
		<link rel="shortcut icon" href="https://img3.doubanio.com/favicon.ico" type="image/x-icon">
		<!--星星打分 必须在顶部-->
		<link href="css/douban.css" rel="stylesheet" type="text/css">
		<link href="css/init.css" rel="stylesheet">
		<script type="text/javascript" src="js/do.js" data-cfg-autoload="false"></script>
		<!--滚动 顶部-->	
	</head>

	<body>

		<script type="text/javascript">
			var _body_start = new Date();
		</script>

		<link href="css/body_bundle.css" rel="stylesheet" type="text/css">

		<div id="db-global-nav" class="global-nav"">
			<div class="bd">

				<div class="top-nav-info">
					<a href="index.html" id="logout" style="display: block; float: right;">退出登录</a>
					<a href="#" id="login" style="display: block; float: right;" onClick="loginBgDiv.style.display='';loginBox.style.display='';">登录</a>
					<a href="#" id="nav-register" rel="nofollow" style="display: block; float: right;" 
						onClick="loginBgDiv.style.display='';loginBox.style.display='';logindiv.style.display='none';registrationdiv.style.display='block';">注册</a>
					<a href="manage-del-commit.html" id="manage" style="display: block; float: right;">管理</a>
					<a href="user-homepage.html" id="homepage" style="display: block; float: right;">个人中心</a>
				<script>
					var user=2;
					if (user==0){
						document.getElementById("manage").style.display="none";
						document.getElementById("homepage").style.display="none";
						}
					else if(user==1){document.getElementById("manage").style.display="none";}
				</script>
					
				</div>

			</div>
		</div>
		<script src="js/bundle.js" defer="defer"></script>
		<link href="css/bundle.css" rel="stylesheet" type="text/css">

		<div id="db-nav-movie" class="nav">
			<div class="nav-wrap">
				<div class="nav-primary">
					<div class="">
												<a href="index.html">
						<img src="img/horse.jpg" style="float: left;"/></a>
					</div>
					<div class="nav-search">
						<form action="" method="get">
							<fieldset>
								<legend>搜索：</legend>
								<label for="inp-query">
        					</label>
								<div class="inp"><input id="inp-query" name="search_text" size="22" maxlength="60" placeholder="搜索电影" value=""></div>
								<div class="inp-btn"><input type="button" value="搜索" id="searchBtn"></div>
							<script>
								$("#searchBtn").click(function(){
      							var searchText= jQuery.trim($("#inp-query").val());
       							var searchUrl =encodeURI("search.html?searchText="+searchText);   //使用encodeURI编码
      							window.location.href =searchUrl;
   								})
							</script>
							
							</fieldset>
						</form>
					</div>
				</div>
			</div>
			<div class="nav-secondary">

				<div class="nav-items" style="float: left;">
					<ul>
						<li>
							<a href="choose.html">选电影</a>
						</li>
						<li>
							<a href="billboard.html">排行榜</a>
						</li>
						<li>
							<a href="tag.html">分类</a>
						</li>
						<li>
							<a href="user-collection.html">个人收藏</a>
						</li>
					</ul>
				</div>

			</div>
		</div>
		<!-- 顶上模板-->
		<div id="wrapper">
			<div id="content">
				<div class="grid-16-8 clearfix">
					<div id="dale_movie_homepage_top_large"></div>
					<div class="article">
						<div id="dale_movie_home_main_top"></div>

						<script id="db-tmpl-subject-tip" type="text/x-jquery-tmpl">
							<div id="subject-tip">
								<div class="subject-tip-hd">
									<h3>{{= title}}<span class="release-year">{{= release}}</span></h3>
									<p class="star">
										<span class="allstar{{= star}}"></span> {{if star != '00' }}
										<span class="subject-rating">{{= parseFloat(rate).toFixed(1)}}</span> {{/if}} {{if enough}}
										<span class="rater-num">({{= rater}}人评价)</span> {{/if}}
									</p>
								</div>
								<div class="subject-tip-bd">
									<ul>
										<li><span>{{= duration}}</span><span>{{= type}}</span><span>{{= region}}</span></li>
										<li class="director"><span class="label">导演</span><span>{{= director}}</span></li>
										<li class="actors"><span class="label">主演</span><span>{{= actors}}</span></li>
									</ul>
									{{if intro}}
									<div class="subject-intro">
										{{= intro}}
									</div>
									{{/if}}
								</div>
							</div>
						</script>

						<div id="screening" class="s" data-dstat-areaid="70" data-dstat-mode="click,expose">
							<div class="screening-hd">
								<div class="ui-slide-control">
									<span class="prev-btn">
										<img src="img/L.png" alt="L" height="20" width="10" class="btn-prev"/></span>
									<span class="next-btn">
										<img src="img/R.png" alt="R" height="20" width="10" class="btn-next"/></span>
								</div>
								<div class="slide-tip"><span class="ui-slide-index">1</span> / <span class="ui-slide-max">3</span></div>
								<h2 style="text-align: left;">正在热映</h2>
							</div>

							<div class="screening-bd">
								<div class="screening-bd">
									<ul class="ui-slide-content" data-slide-index="1" data-index-max="3">

										<li class="ui-slide-item s" data-dstat-areaid=70_1 data-dstat-mode=click,expose data-dstat-watch=.ui-slide-content data-dstat-viewport=.screening-bd data-title="我不是药神" data-release="2018" data-rate="8.9" data-star="45" data-trailer="https://movie.douban.com/subject/26752088/trailer" data-ticket="https://movie.douban.com/ticket/redirect/?url=https%3A%2F%2Fm.maoyan.com%2Fcinema%2Fmovie%2F1200486%3F_v_%3Dyes%26merCode%3D1000011" data-duration="117分钟" data-region="中国大陆" data-director="文牧野" data-actors="徐峥 / 王传君 / 周一围" data-intro="" data-enough="true" data-rater="524463">
											<ul class="">
												<li class="poster">
													<a onclick="moreurl(this, {from:'mv_a_pst'})" href="">
														<img src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2519070834.jpg" alt="我不是药神" rel="nofollow" class="" />
													</a>
												</li>
												<li class="title">
													<a onclick=" " href="" class="">我不是药神</a>
												</li>
												<li class="rating">
													<span class="rating-star allstar45"></span><span class="subject-rate">8.9</span>
												</li>
											</ul>

											<li class="ui-slide-item" data-title="邪不压正" data-release="2018" data-rate="7.2" data-star="35" data-trailer="https://movie.douban.com/subject/26366496/trailer" data-ticket="https://movie.douban.com/ticket/redirect/?url=https%3A%2F%2Fm.maoyan.com%2Fcinema%2Fmovie%2F248566%3F_v_%3Dyes%26merCode%3D1000011" data-duration="137分钟" data-region="中国大陆" data-director="姜文" data-actors="彭于晏 / 廖凡 / 姜文" data-intro="" data-enough="true" data-rater="111680">
												<ul class="">
													<li class="poster">
														<a onclick="moreurl(this, {from:'mv_a_pst'})" href="">
															<img src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2526297221.jpg" alt="邪不压正" rel="nofollow" class="" />
														</a>
													</li>
													<li class="title">
														<a onclick=" " href="" class="">邪不压正</a>
													</li>
													<li class="rating">
														<span class="rating-star allstar35"></span><span class="subject-rate">7.2</span>
													</li>
												</ul>

												<li class="ui-slide-item" data-title="阿修罗" data-release="2018" data-rate="3.1" data-star="15" data-trailer="https://movie.douban.com/subject/26746958/trailer" data-ticket="https://movie.douban.com/ticket/redirect/?url=https%3A%2F%2Fm.maoyan.com%2Fcinema%2Fmovie%2F346096%3F_v_%3Dyes%26merCode%3D1000011" data-duration="141分钟" data-region="中国大陆" data-director="张鹏" data-actors="吴磊 / 梁家辉 / 刘嘉玲" data-intro="" data-enough="true" data-rater="9143">
													<ul class="">
														<li class="poster">
															<a onclick="moreurl(this, {from:'mv_a_pst'})" href="">
																<img src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2525586876.jpg" alt="阿修罗" rel="nofollow" class="" />
															</a>
														</li>
														<li class="title">
															<a onclick=" " href="" class="">阿修罗</a>
														</li>
														<li class="rating">
															<span class="rating-star allstar15"></span><span class="subject-rate">3.1</span>
														</li>
													</ul>

													<li class="ui-slide-item" data-title="小悟空" data-release="2018" data-rate="" data-star="00" data-trailer="https://movie.douban.com/subject/30227725/trailer" data-ticket="https://movie.douban.com/ticket/redirect/?url=https%3A%2F%2Fm.maoyan.com%2Fcinema%2Fmovie%2F592271%3F_v_%3Dyes%26merCode%3D1000011" data-duration="85分钟" data-region="中国大陆" data-director="叶伟青" data-actors="" data-intro="" data-enough="false" data-rater="110">
														<ul class="">
															<li class="poster">
																<a onclick="moreurl(this, {from:'mv_a_pst'})" href="">
																	<img src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2526767688.jpg" alt="小悟空" rel="nofollow" class="" />
																</a>
															</li>
															<li class="title">
																<a onclick=" " href="" class="">小悟空</a>
															</li>
															<li class="rating">

																<span class="text-tip">暂无评分</span>
															</li>
														</ul>

														<li class="ui-slide-item" data-title="新大头儿子和小头爸爸3：俄罗斯奇遇记" data-release="2018" data-rate="5.1" data-star="25" data-trailer="https://movie.douban.com/subject/30198729/trailer" data-ticket="https://movie.douban.com/ticket/redirect/?url=https%3A%2F%2Fm.maoyan.com%2Fcinema%2Fmovie%2F1220713%3F_v_%3Dyes%26merCode%3D1000011" data-duration="80分钟" data-region="中国大陆" data-director="何澄" data-actors="刘纯燕 / 董浩 / 鞠萍" data-intro="" data-enough="true" data-rater="1350">
															<ul class="">
																<li class="poster">
																	<a onclick="moreurl(this, {from:'mv_a_pst'})" href="">
																		<img src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2522820714.jpg" alt="新大头儿子和小头爸爸3：俄罗斯奇遇记" rel="nofollow" class="" />
																	</a>
																</li>
																<li class="title">
																	<a onclick=" " href="" class="">新大头儿子和...</a>
																</li>
																<li class="rating">
																	<span class="rating-star allstar25"></span><span class="subject-rate">5.1</span>
																</li>
															</ul>

															<li class="ui-slide-item s" data-dstat-areaid=70_2 data-dstat-mode=click,expose data-dstat-watch=.ui-slide-content data-dstat-viewport=.screening-bd data-title="动物世界" data-release="2018" data-rate="7.3" data-star="40" data-trailer="https://movie.douban.com/subject/26925317/trailer" data-ticket="https://movie.douban.com/ticket/redirect/?url=https%3A%2F%2Fm.maoyan.com%2Fcinema%2Fmovie%2F1198178%3F_v_%3Dyes%26merCode%3D1000011" data-duration="132分钟" data-region="中国大陆" data-director="韩延" data-actors="李易峰 / 迈克尔·道格拉斯 / 周冬雨" data-intro="" data-enough="true" data-rater="124491">
																<ul class="">
																	<li class="poster">
																		<a onclick="moreurl(this, {from:'mv_a_pst'})" href="">
																			<img src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2525528688.jpg" alt="动物世界" rel="nofollow" class="" />
																		</a>
																	</li>
																	<li class="title">
																		<a onclick=" " href="" class="">动物世界</a>
																	</li>
																	<li class="rating">
																		<span class="rating-star allstar40"></span><span class="subject-rate">7.3</span>
																	</li>
																</ul>

																<li class="ui-slide-item" data-title="超人总动员2 Incredibles 2" data-release="2018" data-rate="8.1" data-star="40" data-trailer="https://movie.douban.com/subject/25849049/trailer" data-ticket="https://movie.douban.com/ticket/redirect/?url=https%3A%2F%2Fm.maoyan.com%2Fcinema%2Fmovie%2F338385%3F_v_%3Dyes%26merCode%3D1000011" data-duration="126分钟(中国大陆)" data-region="美国" data-director="布拉德·伯德" data-actors="格雷格·T·尼尔森 / 霍利·亨特 / 莎拉·沃威尔" data-intro="" data-enough="true" data-rater="74903">
																	<ul class="">
																		<li class="poster">
																			<a onclick="moreurl(this, {from:'mv_a_pst'})" href="">
																				<img src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2522880251.jpg" alt="超人总动员2" rel="nofollow" class="" />
																			</a>
																		</li>
																		<li class="title">
																			<a onclick=" " href="" class="">超人总动员2...</a>
																		</li>
																		<li class="rating">
																			<span class="rating-star allstar40"></span><span class="subject-rate">8.1</span>
																		</li>
																	</ul>

																	<li class="ui-slide-item" data-title="侏罗纪世界2 Jurassic World: Fallen Kingdom" data-release="2018" data-rate="6.8" data-star="35" data-trailer="https://movie.douban.com/subject/26416062/trailer" data-ticket="https://movie.douban.com/ticket/redirect/?url=https%3A%2F%2Fm.maoyan.com%2Fcinema%2Fmovie%2F341628%3F_v_%3Dyes%26merCode%3D1000011" data-duration="128分钟" data-region="美国" data-director="胡安·安东尼奥·巴亚纳" data-actors="克里斯·帕拉特 / 布莱丝·达拉斯·霍华德 / 贾斯蒂斯·史密斯" data-intro="" data-enough="true" data-rater="150845">
																		<ul class="">
																			<li class="poster">
																				<a onclick="moreurl(this, {from:'mv_a_pst'})" href="">
																					<img src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2522069454.jpg" alt="侏罗纪世界2" rel="nofollow" class="" />
																				</a>
																			</li>
																			<li class="title">
																				<a onclick=" " href="" class="">侏罗纪世界2...</a>
																			</li>
																			<li class="rating">
																				<span class="rating-star allstar35"></span><span class="subject-rate">6.8</span>
																			</li>
																		</ul>

																		<li class="ui-slide-item" data-title="神奇马戏团之动物饼干 Magical Circus : Animal Crackers" data-release="2017" data-rate="" data-star="00" data-trailer="https://movie.douban.com/subject/26253783/trailer" data-ticket="https://movie.douban.com/ticket/redirect/?url=https%3A%2F%2Fm.maoyan.com%2Fcinema%2Fmovie%2F338400%3F_v_%3Dyes%26merCode%3D1000011" data-duration="90分钟(中国大陆)" data-region="美国" data-director="托尼·班克罗夫特" data-actors="艾米莉·布朗特 / 约翰·卡拉辛斯基 / 伊恩·麦克莱恩" data-intro="" data-enough="false" data-rater="59">
																			<ul class="">
																				<li class="poster">
																					<a onclick="moreurl(this, {from:'mv_a_pst'})" href="">
																						<img src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2524820126.jpg" alt="神奇马戏团之动物饼干" rel="nofollow" class="" />
																					</a>
																				</li>
																				<li class="title">
																					<a onclick=" " href="" class="">神奇马戏团之...</a>
																				</li>
																				<li class="rating">
																					<span class="text-tip">暂无评分</span>
																				</li>
																			</ul>

																			<li class="ui-slide-item" data-title="细思极恐" data-release="2018" data-rate="" data-star="00" data-trailer="https://movie.douban.com/subject/30235134/trailer" data-ticket="https://movie.douban.com/ticket/redirect/?url=https%3A%2F%2Fm.maoyan.com%2Fcinema%2Fmovie%2F1221379%3F_v_%3Dyes%26merCode%3D1000011" data-duration="92分钟" data-region="中国大陆" data-director="1394332" data-actors="韩素媛 / 蓝波 / 庞贝童" data-intro="" data-enough="false" data-rater="166">
																				<ul class="">
																					<li class="poster">
																						<a onclick="moreurl(this, {from:'mv_a_pst'})" href="">
																							<img src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2523632181.jpg" alt="细思极恐" rel="nofollow" class="" />
																						</a>
																					</li>
																					<li class="title">
																						<a onclick=" " href="" class="">细思极恐</a>
																					</li>
																					<li class="rating">
																						<span class="text-tip">暂无评分</span>
																					</li>
																				</ul>

																				<li class="ui-slide-item s" data-dstat-areaid=70_3 data-dstat-mode=click,expose data-dstat-watch=.ui-slide-content data-dstat-viewport=.screening-bd data-title="风语咒" data-release="2018" data-rate="" data-star="00" data-trailer="https://movie.douban.com/subject/30146756/trailer" data-ticket="https://movie.douban.com/ticket/redirect/?url=https%3A%2F%2Fm.maoyan.com%2Fcinema%2Fmovie%2F1217513%3F_v_%3Dyes%26merCode%3D1000011" data-duration="105分钟" data-region="中国大陆" data-director="刘阔" data-actors="路知行 / 阎萌萌 / 褚珺" data-intro="" data-enough="false" data-rater="787">
																					<ul class="">
																						<li class="poster">
																							<a onclick="moreurl(this, {from:'mv_a_pst'})" href="">
																								<img src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2527558563.jpg" alt="风语咒" rel="nofollow" class="" />
																							</a>
																						</li>
																						<li class="title">
																							<a onclick=" " href="" class="">风语咒</a>
																						</li>
																						<li class="rating">

																							<span class="text-tip">暂无评分</span>
																						</li>
																					</ul>

																					<li class="ui-slide-item" data-title="第七个小矮人 The 7th Dwarf" data-release="2014" data-rate="" data-star="00" data-trailer="https://movie.douban.com/subject/25971649/trailer" data-ticket="https://movie.douban.com/ticket/redirect/?url=https%3A%2F%2Fm.maoyan.com%2Fcinema%2Fmovie%2F257454%3F_v_%3Dyes%26merCode%3D1000011" data-duration="88分钟(中国大陆)" data-region="德国" data-director="Boris" data-actors="Otto / Mirco / Boris" data-intro="" data-enough="false" data-rater="553">
																						<ul class="">
																							<li class="poster">
																								<a onclick="moreurl(this, {from:'mv_a_pst'})" href="">
																									<img src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2522252598.jpg" alt="第七个小矮人" rel="nofollow" class="" />
																								</a>
																							</li>
																							<li class="title">
																								<a onclick=" " href="" class="">第七个小矮人...</a>
																							</li>
																							<li class="rating">

																								<span class="text-tip">暂无评分</span>
																							</li>
																						</ul>

																						<li class="ui-slide-item" data-title="阿飞正传 阿飛正傳" data-release="1990" data-rate="8.5" data-star="45" data-trailer="https://movie.douban.com/subject/1305690/trailer" data-ticket="https://movie.douban.com/ticket/redirect/?url=https%3A%2F%2Fm.maoyan.com%2Fcinema%2Fmovie%2F11237%3F_v_%3Dyes%26merCode%3D1000011" data-duration="94分钟" data-region="香港" data-director="王家卫" data-actors="张国荣 / 张曼玉 / 刘嘉玲" data-intro="王家卫是一种风格，张国荣是一个代表。" data-enough="true" data-rater="223797">
																							<ul class="">
																								<li class="poster">
																									<a onclick="moreurl(this, {from:'mv_a_pst'})" href="">
																										<img src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2525770523.jpg" alt="阿飞正传" rel="nofollow" class="" />
																									</a>
																								</li>
																								<li class="title">
																									<a onclick=" " href="" class="">阿飞正传</a>
																								</li>
																								<li class="rating">
																									<span class="rating-star allstar45"></span><span class="subject-rate">8.5</span>
																								</li>
																							</ul>

																							<li class="ui-slide-item" data-title="美丽童年" data-release="2018" data-rate="" data-star="00" data-trailer="https://movie.douban.com/subject/27194322/trailer" data-ticket="https://movie.douban.com/ticket/redirect/?url=https%3A%2F%2Fm.maoyan.com%2Fcinema%2Fmovie%2F1211641%3F_v_%3Dyes%26merCode%3D1000011" data-duration="90分钟" data-region="中国大陆" data-director="陈静" data-actors="周诗琪 / 郑子寒 / 胡伊睿" data-intro="" data-enough="false" data-rater="44">
																								<ul class="">
																									<li class="poster">
																										<a onclick="moreurl(this, {from:'mv_a_pst'})" href="">
																											<img src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2504516292.jpg" alt="美丽童年" rel="nofollow" class="" />
																										</a>
																									</li>
																									<li class="title">
																										<a onclick=" " href="" class="">美丽童年</a>
																									</li>
																									<li class="rating">

																										<span class="text-tip">暂无评分</span>
																									</li>
																								</ul>

																								<li class="ui-slide-item">
									</ul>
								</div>
							</div>
						</div>

						<link rel="stylesheet" href="css/gallery.css" />
						<div id="gallery-frames">
							<div class="gallery-hd">
								<div class="gallery-ui-slide-control">
									<span class="prev-btn"><a class="gallery-btn-prev" href="javascript:void(0)"></a></span>
									<span class="next-btn"><a class="gallery-btn-next" href="javascript:void(0)"></a></span>
								</div>
								<div class="slide-tip"><span class="gallery-ui-slide-index">1</span> / <span class="gallery-ui-slide-max">6</span></div>
								<h2 style="text-align: left;">热门推荐</h2>
							</div>
							<div id="hot-gallery">
								<ul class='ui-slide-content'>
									<li class='ui-slide-item'>

										<div class="gallery-frame">

										</div>
									</li>
									<li class='ui-slide-item'>

										<div class="gallery-frame">

										</div>

									</li>
									<li class='ui-slide-item'>

										<div class="gallery-frame">

										</div>

									</li>
									<li class='ui-slide-item'>

										<div class="gallery-frame">

										</div>

									</li>
									<li class='ui-slide-item'>

										<div class="gallery-frame">

										</div>

									</li>
									<li class='ui-slide-item'>

										<div class="gallery-frame">

										</div>

									</li>
								</ul>
							</div>
						</div>
					
					</div>
					<div class="aside">

						<div id="billboard" class="s" data-dstat-areaid="75" data-dstat-mode="click,expose" style="text-align: left;">
							<div class="billboard-hd">
								<h2 >本月热度榜<span><a href="billboard.html" >更多榜单&raquo;</a></span></h2>
							</div>
							<div class="billboard-bd">
								<table>
									<tr>
										<td class="order">1</td>
										<td class="title">
											<a onclick="moreurl(this, {from:'mv_rk'})" href="">我不是药神</a>
										</td>
									</tr>
									<tr>
										<td class="order">1</td>
										<td class="title">
											<a onclick="moreurl(this, {from:'mv_rk'})" href="">我不是药神</a>
										</td>
									</tr>
									<tr>
										<td class="order">1</td>
										<td class="title">
											<a onclick="moreurl(this, {from:'mv_rk'})" href="">我不是药神</a>
										</td>
									</tr>
								</table>
							</div>
						</div>
						<br/>
						
												<div id="billboard" class="s" data-dstat-areaid="75" data-dstat-mode="click,expose" style="text-align: left;">
							<div class="billboard-hd">
								<h2 >本月热度榜<span><a href="billboard.html" >更多榜单&raquo;</a></span></h2>
							</div>
							<div class="billboard-bd">
								<table>
									<tr>
										<td class="order">1</td>
										<td class="title">
											<a onclick="moreurl(this, {from:'mv_rk'})" href="">我不是药神</a>
										</td>
									</tr>
									<tr>
										<td class="order">1</td>
										<td class="title">
											<a onclick="moreurl(this, {from:'mv_rk'})" href="">我不是药神</a>
										</td>
									</tr>
									<tr>
										<td class="order">1</td>
										<td class="title">
											<a onclick="moreurl(this, {from:'mv_rk'})" href="">我不是药神</a>
										</td>
									</tr>
								</table>
							</div>
						</div>
						
					</div>
				</div>
			</div>

		</div>
		<div>
			<!--弹窗-->
		<link href="css/body_bundle.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="css/login_pop.css" />
<!--		<button >登录</button>	-->	
		<div id="loginBgDiv" style="display:none;position: absolute"></div>
		<div id="loginBox" style="display: none;position:absolute;">
			<div class="title" id="Mdown">
				<button class="close"  onClick="loginBox.style.display='none';loginBgDiv.style.display='none'">X</button>
			</div>
			<div class="login" id="logindiv" style="display: block;">
				<form method="post" action="" name="loginForm" id="loginForm">
					<span class="t1" >欢迎来到豆小荐，请登录</span>
					<p></p>
					<input class="input" type="text" name="username" size="20"  placeholder="用户名"><br />
					<p></p>
					<input class="input" type="text" name="password" size="12"  placeholder="密码"><br />
					<p></p>
				</form><!--document.loginForm.submit()-->
					<button class="submitButton" onclick="dl_clicked()">登录</button>
					<p></p>
					<button class="registrationButton" onclick="logindiv.style.display='none';registrationdiv.style.display='block'">注册</button>
			</div>
			<div class="login" id="registrationdiv" style="display: none;">
				<form method="post" action="" name="registrationtForm" id="registrationtForm">
					<span class="t1" >欢迎来到豆小荐，请注册</span>
					<p></p>
					<input class="input" type="text" name="username"  placeholder="用户名"><br />
					<input class="input" type="text" name="telephone" placeholder="电话"><br />
					<input class="input" type="text" name="password"  placeholder="密码"><br />
					<input class="input" type="text" name="hobby"  placeholder="感兴趣的电影类别"><p />
				</form>
					<button class="submitButton" onclick="logindiv.style.display='block';registrationdiv.style.display='none'">返回登录</button>
					<button class="registrationButton" onclick="zc_clicked()">注册</button>
				
			</div>
			<script>
				function dl_clicked(){
					alert("登录");
					var loginForm = document.getElementById("loginForm").submit();
//					if(success){return true}
//					else {return false}
				};
				function zc_clicked(){
					alert("注册");
					var registrationtForm = document.getElementById("registrationtForm").submit();
				};
			</script>
		</div>
		<!--弹窗-->
		</div>
		<link rel="stylesheet" type="text/css" href="css/dialog.css" />
		<link rel="stylesheet" type="text/css" href="css/reg_login_pop.css" />
		<!-- 滚动 必须在底部-->
		<script type="text/javascript" src="js/mixed_static.js"></script>

	
	</body>

</html>