<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qqdzz.tinybean.dao.CommentMapper" >
    <!--映射-->
    <resultMap id="CommentResult" type="com.qqdzz.tinybean.entity.Comment">
        <id column = "id" property = "id"/>
        <result column = "movie_id" property = "movieId"/>
        <result column = "user_id" property = "userId"/>
        <result column = "comment" property = "comment"/>
        <result column = "is_banned" property="isBanned"/>
    </resultMap>

    <!--接口实现-->
    <insert id="add" parameterType="Comment">
        insert into comment (id,movie_id,user_id,comment,is_banned)
        value (#{id}, #{movieId}, #{userId}, #{comment},#{isBanned})
    </insert>

    <delete id="delete" parameterType="java.lang.Integer">
        DELETE FROM comment WHERE id = #{id}
    </delete>

    <update id="update" parameterType="Comment">
        update comment set
        movie_id = #{movie_id},
        user_id = #{userId}
        comment = #{comment},
        is_banned = #{isBanned}
        where id = #{id};
    </update>

    <select id="findById" parameterType="java.lang.Integer" resultType="Comment">
        SELECT * FROM comment where id = #{id}
    </select>

    <select id="findByUserId" resultMap="CommentResult">
        select * from comment where user_id = #{userId}
    </select>

    <select id="findByCommentText" resultMap="CommentResult">
        select * from comment where comment LIKE concat('%',#{commentText},'%')
    </select>

    <select id="findBannedAll" resultMap="CommentResult">
        SELECT * FROM comment where is_banned = 1
    </select>

    <select id="findByMovieId" resultMap="CommentResult">
        SELECT * FROM comment where movie_id = #{movieId}
    </select>

    <select id="findByMovieIdAndUserId" resultMap="CommentResult">
        SELECT * FROM comment where movie_id = #{movieId} and user_id = #{userId}
    </select>
</mapper>