<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qqdzz.tinybean.dao.ScoreMapper" >
    <!--映射-->
    <resultMap type="com.qqdzz.tinybean.entity.Score" id="ScoreResult">
        <id column = "id" property = "id"/>
        <result column = "movie_id" property = "movieId"/>
        <result column = "user_id" property = "userId"/>
        <result column = "score" property = "score"/>
    </resultMap>

    <!--接口实现-->
    <insert id="add" parameterType="Score">
        insert into score (id,movie_id,user_id,score)
        value (#{id}, #{movieId}, #{user_id}, #{score})
    </insert>

    <delete id="delete" parameterType="java.lang.Integer">
        DELETE FROM score WHERE id = #{id}
    </delete>

    <update id="update" parameterType="Score">
        update score set
        movie_id = #{movie_id},
        user_id = #{userId}
        score = #{score},
        where id = #{id};
    </update>

    <select id="findById" parameterType="java.lang.Integer" resultType="Score">
        SELECT * FROM score where id = #{id}
    </select>

    <select id="getScore" resultMap="ScoreResult">
        SELECT * FROM score where movie_id = #{movieId} and user_id = #{userId}
    </select>
</mapper>